<h1><center>Edit Student Information</h2>
  <form action="/update_student?id=<%= @student.id %>">
	Name:<br>
	<input type="text" name="name" value='<%= @student.name %>'>
	<br>
	Address:<br>
	<input type="text" name="address" value='<%= @student.address %>'>
	<br>
	Phone No:<br>
	<input type="text" name="phone_no" value='<%= @student.phone_no %>'>
	<br>
	Gender:<br>
	<input type="text" name="gender" value='<%= @student.gender %>'>
	<br>
	<input type="hidden" name="classroom_id" value='<%= @student.classroom_id %>' >
	<input type="hidden" name="id" value='<%= @student.id %>' >
	<br>
	<br>
	<input type="submit" value="Submit">
  </form>
<a href="/index_students?id=<%= @student.classroom_id %>">back</a>