<p>
  <strong>Id:</strong>
  <%= @student.id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>
<p>
  <strong>Phone No:</strong>
  <%= @student.phone_no %>
</p>
<p>
  <strong>gender:</strong>
  <%= @student.gender %>
</p>
<a href="/index_students?id=<%= @student.classroom_id %>">back</a>