<p>
  <strong>Id:</strong>
  <%= @teacher.id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @teacher.address %>
</p>
<p>
  <strong>Phone No:</strong>
  <%= @teacher.phone_no %>
</p>
<p>
  <strong>gender:</strong>
  <%= @teacher.gender %>
</p>
<a href="/index_teachers?id=<%= @teacher.school_id %>">back</a>