<h1><center>Edit School</h2>
  <form action="/update?id=<%= @school.id %>">
	Name:<br>
	<input type="text" name="name" value='<%= @school.name %>'>
	<br>
	Address:<br>
	<input type="text" name="address" value='<%= @school.address %>'>
	<br>
	Phone Number:<br>
	<input type="text" name="phone_number" value='<%= @school.phone_no %>'>
	<br>
	Code:<br>
	<input type="text" name="code" value='<%= @school.code %>' >
	<br>
	<input type="hidden" name="id" value='<%= @school.id %>' >
	<br>
	<input type="submit" value="Submit">
  </form>
<h2>Classrooms</h2>
<a href='/index?id=<%= @school.id %>'>View all ClassRoom</a>
<a href='/new_classroom?id=<%= @school.id %>'>Add ClassRoom</a>
<h2>Teachers</h2>
<a href='/index_teachers?id=<%= @school.id %>'>View all Teachers</a>
<a href='/new_teacher?id=<%= @school.id %>'>Add Teacher</a>
<br><br><a href="/">back</a>