<p>
  <strong>Id:</strong>
  <%= @school.id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>
<p>
  <strong>Phone No:</strong>
  <%= @school.phone_no %>
</p>
<p>
  <strong>code:</strong>
  <%= @school.code %>
</p>
<a href="/view">back</a>